.box {display: inline-block;
    width: 20%;
            border: 15px solid lightgreen;
            padding: 10px;
            margin: 10px;
}
.img {width: 121; 
    height: 121;
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 7px orange;

}
p.right {text-align: right}

h1 {color: brown}

footer{background-color: beige}

h4 {font-weight: strong}

@media screen and (max-width: 776px) {
    div {
      width: 100%
    }
  }